<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Verify Document</title>
    <script src="/vendor/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    </head>
    <body>
        <a id = "downloadAnchorElem" style = "display: none" ></a>
        <div class="page-wrapper">
           <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/index.hbs">
                            <img src="/images/icon/logo.png" height="1" width="1" alt="CertiBITS" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/registerSignature.hbs">
                                <i class="fas fa-user"></i>Register Signature</a>
                        </li>
                         <li>
                            <a href="/rechargeSignature.hbs">
                                <i class="fas fa-copy"></i>Recharge Signature</a>
                        </li>
                        <li>
                            <a href="/signDocument.hbs">
                                <i class="fas fa-edit"></i>Sign Document</a>
                        </li>
                        <li>
                            <a href="/index.hbs">
                                <i class="far fa-check-square"></i>Validate Document</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/index.hbs">
                    <img src="/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/registerSignature.hbs">
                                <i class="fas fa-user"></i>Register Signature</a>
                        </li>
                        <li>
                            <a href="/rechargeSignature.hbs">
                                <i class="fas fa-copy"></i>Recharge Signature</a>
                        </li>
                        <li>
                            <a href="/signDocument.hbs">
                                <i class="fas fa-edit"></i>Sign Document</a>
                        </li>
                        <li>
                            <a href="/index.hbs">
                                <i class="far fa-check-square"></i>Validate Document</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Validate by hash...Soon" />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <h2 class="title-1 m-b-25" align="center">Validate Document</h2>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 mb-5">

                                <form id="filehash" action="#" class="p-5 bg-white">

                                    <div class="form-step-head card-innr">
                                        <div class="step-head">
                                            <div>
                                                {{!-- <h4 class="subtitle red-certi text-center">Validar Documento</h4> --}}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .step-head -->
                                    <br>
                                    <h5 class="body-text-small">
                                        Verify a stored Certi validating the integrity of your document and the identity of its signers:
                                    </h5>
                                    <br>
                                    <ul>
                                        <li class="body-text-small red-certi">
                                            <i class="fa fa-file"></i> Upload a document and verify its integrity and signatures.
                                        </li>
                                    </ul>
                                    <br>
                                    <div class="gaps-2x"></div>
                                    <h5 class="body-text">Upload your document here.</h5>
                                    <br>
                                    <input id="myfilehash" name="file" type="file" />
                                    <br>
                                    <br>
                                    <h6 id="file_hash">Certi - Hash:</h6>
                                    <br>
                                    <div class="row form-group">
                                      <div class="col-md-12">
                                        <input type="button"  id = "consultButton" value="Blockchain Query" class="btn btn-primary  py-2 px-5">
                                      </div>
                                   </div>
                                   <br>
                                   <br>
                                   <div id="responseBlock" style="display: none">
                                     {{!-- Express and Node Start--}}
                                     <p>Hash Document: <span id="hashState"></span></p>
                                     <p>Sign State: <span id="signState"></span></p>
                                     <p>Document State: <span id="documentState"></span></p>
                                     <ul>Signers: <span id="signers"></span></ul>
                                     <br>
                                   </div>
                                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show" id="alert_billetera" style="display:none;">
                                        <span class="badge badge-pill badge-success">Transacción Exito</span> Su firma criptografíca fue creada exitosamente
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    </div>

                                    <div class="alert alert-danger" role="alert" id="alert_form" style="display:none;">
                                        Este documento no ha sido firmado
                                    </div>
                                    <div class="card card-round" style="display:none" id="table_div_display">

                                        <img id="loading_sell_table" class="aligncenter" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bluechipexterminating.com%2Fwp-content%2Fuploads%2F2020%2F02%2Floading-gif-png-5.gif&amp;f=1&amp;nofb=1" width="73" height="73" />
                                        <table id="sign_table" class="display">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Identificación</th>
                                                    <th>Correo</th>
                                                    <th>Dirección Blockchain</th>
                                                    <!-- <th>Tiempo (Hora Col)</th> -->
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="alert_firma" style="display: none;">
                                        El archivo no se encuentra firmado o fue modificado.
                                    </div>
                                </form>
                            </div>
                             
                              
                              </div>
                              </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2022 Certi. All rights reserved.</a></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
             <!-- modal static -->
            <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticModalLabel">Firma Digital</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Ingrese su firma digital con la respectiva contraseña para hacer oficial el Diploma.
                            </p>
                            <form id="myform">
                                <input id="myfile" name="file" type="file" />
                                <input type="password" id="passwordkey" name="passwordkey" placeholder="Contraseña" class="form-control">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="decrypt_wallet()">Confirm</button>
                        </div>
                        <div class="alert alert-danger" role="alert" id="alert_pass" style="display:block;">
                            Porfavor llene el campo de contraseña
                        </div>
                         <div>
               
                <h1 id="title">{{title}}</h1>
                <br/>   
                <p>{{description}}</p>
            </div>
            <br/>
            {{!-- <h3 id="subtitle">Status</h3> --}}
            <hr/>
           

                    </div>
                </div>
            </div>
            <!-- end modal static -->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Main JS-->
    <script src="/js/main.js"></script>
    <script src="js/contractData.js"></script>
    {{!-- <script src="/js/bundle.js"></script> --}}
    <script src="/js/nuevo_diploma.js"></script>
    <script src="/js/carga_firma.js"></script>
    <script src="/js/decrypt_wallet.js"></script>
    <script src="/js/sha256_lookup.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>

    <script>
        curso = document.getElementById("curso")
        fecha = document.getElementById("fecha")
        nombre = document.getElementById("nombre")
        cedula = document.getElementById("cedula")
        tipo_certificado = document.getElementById("tipo_certificado")
        nota = document.getElementById("nota")
        tipo_curso = document.getElementById("tipo_curso")
        lugar = document.getElementById("lugar")
        link = document.getElementById("link")
        email_estudiante = document.getElementById("email_estudiante")
    </script>
        {{!-- <script type="module" src="/js/app.js"></script> --}}
        <script type="module" src="/js/consultData.js"></script>
        <script type="module" src="/js/ethers-5.1.esm.min.js"></script>
    </body>
</html>