<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Recargar Firma</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.hbs">
                            <img src="images/icon/logo.png" height="1" width="1" alt="EduBITS" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                       <li>
                            <a href="/registerSignature.hbs">
                                <i class="fas fa-user"></i>Register Signature</a>
                        </li>
                         <li>
                            <a href="/rechargeSignature.hbs">
                                <i class="fas fa-copy"></i>Recharge Signature</a>
                        </li>
                        <li>
                            <a href="/signDocument.hbs">
                                <i class="fas fa-edit"></i>Sign Document</a>
                        </li>
                        <li>
                            <a href="/index.hbs">
                                <i class="far fa-check-square"></i>Validate Document</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="index.html">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                         <li>
                            <a href="/registerSignature.hbs">
                                <i class="fas fa-user"></i>Register Signature</a>
                        </li>
                         <li>
                            <a href="/rechargeSignature.hbs">
                                <i class="fas fa-copy"></i>Recharge Signature</a>
                        </li>
                        <li>
                            <a href="/signDocument.hbs">
                                <i class="fas fa-edit"></i>Sign Document</a>
                        </li>
                        <li>
                            <a href="/index.hbs">
                                <i class="far fa-check-square"></i>Validate Document</a>
                        </li>
                        {{!-- <li>
                            <a href="index.html">
                                <i class="far fa-check-square"></i>Validar Documento</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-user"></i>Gestionar Firma</a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="crear_firma.html">Crear</a>
                                    </li>
                                    <li>
                                        <a href="recargar_firma.html">Recargar</a>
                                    </li>
                                    <li>
                                        <a href="verificar_firma.html">Verificar</a>
                                    </li>
                                </ul>
                        </li>
                        <li>
                            <a href="emitir_firma.html">
                                <i class="fas fa-copy"></i>Firmar Documento</a>
                        </li> --}}
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Validate by Hash...Soon" />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25" align="center">Recharge Signature</h2>
                                {{!-- <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">Ingrese la Firma que desea recargar</div>
                                        <div class="card-body card-block">
                                            <form id="myform">
                                                <input id="myfile" name="file" type="file" />
                                            </form>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <strong align="center"class="card-title mb-3">Basic</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img class="rounded-circle mx-auto d-block" height="100" width="90" src="images/icon/firma.png" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">10 Signatures</h5>
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <button id="buy_1" type="button" class="btn btn-lg btn-info btn-block">
                                                {{!-- <i class="fa fa-dollar"></i>&nbsp; --}}
                                                <span id="payment-button-amount">1 CELO</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <strong  align="center"class="card-title mb-3">Macro</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img class="rounded-circle mx-auto d-block" height="100" width="100" src="images/icon/sello.png" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">25 Signatures</h5>
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <button id="buy_2" type="button" class="btn btn-lg btn-info btn-block">
                                                {{!-- <i class="fa fa-dollar"></i>&nbsp; --}}
                                                <span id="payment-button-amount">2 CELO</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <strong align="center"class="card-title mb-3">Premium</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img class="rounded-circle mx-auto d-block" height="100" width="100" src="images/icon/documentos.png" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">50 Signatures</h5>
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <button id="buy_3" type="button" class="btn btn-lg btn-info btn-block">
                                                {{!-- <i class="fa fa-dollar"></i>&nbsp; --}}
                                                <span id="payment-button-amount">3 CELO</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sufee-alert alert with-close alert-success alert-dismissible fade show" id="alert_recarga" style="display:none;">
                            <span class="badge badge-pill badge-success">Transacción Exitosa</span>
                            Su firma fue recargada exitosamente
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div>
                            <input type="button" id="modal_button" class="btn btn-primary  py-2 px-5" data-toggle="modal" data-target="#staticModal" style="display:none">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2022 Certi.io. All rights reserved.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
                        			<!-- modal static -->
			<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
            data-backdrop="static">
               <div class="modal-dialog modal-lg" role="document">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="staticModalLabel">Recarga de Firma</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                           <p id="texto_modal_recarga">
                               RECARGA
                           </p>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-primary" onclick="recargar_cuenta(owner, valor_recarga ) " data-dismiss="modal">Confirm</button>
                       </div>
                   </div>
               </div>
           </div>
           <!-- end modal static -->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Main JS-->
    <script src="js/main.js"></script>
    <script src="js/contractData.js"></script>
    <script type="module" src="js/buySigns.js"></script>
    <script src="bundle.js"></script>
    {{!-- <script src="js/carga_firma.js"></script> --}}
    <script src="js/recargar_cuenta.js"></script>

    <script>
    function click_basico(){
        valor_recarga=10;
        consultar_IDu(valor_recarga)
    }
    function click_macro(){
        valor_recarga=25;
        consultar_IDu(valor_recarga)
    }
    function click_premiun(){
        valor_recarga=50;
        consultar_IDu(valor_recarga)
    }
    function consultar_IDu(valor_recarga){
        console.log("Valor de la Recarga:" + valor_recarga);
        console.log("Address a recargar:"+ owner);
        contract.methods.pubkey2IDu(owner).call().then(IDu => {
            IDu.onload=consultar_datos(IDu, valor_recarga);
        })
    }
    function consultar_datos(IDu, valor_recarga){
        console.log("ID de Usuario:"+ IDu);
        contract.methods.usuarios(IDu).call().then(user => {
            user.onload=imprimir_datos(user, valor_recarga);
        })  
    }
    function imprimir_datos(user, valor_recarga){
        console.log("usuario: "+user[1]);
        document.getElementById("texto_modal_recarga").innerHTML = "Esta a punto de recagar "+ valor_recarga +" Firmas a la firma a nombre de: "+user[1];
        var modal = document.getElementById('modal_button');
        console.log("Abriendo Modal");
        modal.click();
    }
    </script>

</body>

</html>
<!-- end document-->
